h1{
  background: yellow;
}

p{
  background: orange;
}

#home{
  grid-column-start: 1;
  grid-row-start: 1;
}

#first {
  grid-column-start: 2;
  grid-row-start: 1;
}

#button1 {
  grid-column-start: 3;
  grid-row-start: 3;
}

a{
  text-decoration: none;
  color: blue;
}

#background-color-input {
  max-width: 100px;
  width: inherit;
  padding: 0px 15 0 15px;
}

#left-arrow {
  border: solid 2px black;
  padding: 3px;
  display: flex;
  justify-content:center;
}

#left-point {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
}

#left-body {
  width: 10px;
  height:20px;
  background: black;
}

#up-arrow {
  border: solid 2px black;
  padding: 3px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#up-point {
  width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

#up-body {
  width: 20px;
  height:10px;
  background: black;
}

#down-arrow {
  border: solid 2px black;
  padding: 3px;
  display: flex;
  flex-flow: column;
  justify-content:center;
}

#down-point {
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

#down-body {
  width: 20px;
  height:10px;
  background: black;
}

#right-arrow {
  display: flex;
  justify-content: center;
  border: solid 2px black;
  padding: 3px;
}

#right-point {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

#right-body {
  width: 10px;
  height:20px;
  background: black;
}

#button4 {
  display: flex;
  flex-flow: column;
}

#button5 {
  background: #DCDCDC;
}

#fancy {
  background: white;
  color: grey;
  width: 100%;
  height: 30px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 0 3px 0;

}
.fancy-button {
  background:white;
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;

}

#fancy:hover {
  cursor: pointer;
}

#nav-icon {
  margin-right:5px;
  position: relative;
  visibility: hidden;
  margin-right: 15px;
  margin-left: 15px;
}
.bottom-arrows{
  display:flex;
  flex-flow: row;
}

.button {
  height: 100px;
  display: flex;
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
}

.buttons-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.content-button {
  background: silver;
  height: 100px;
  width: 100px;
  border-radius:100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-button {
  background: white;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: black solid 2px;

}

.nav-button:hover {
  background: yellow;
  cursor: pointer;
}

.body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 90% 10%;
}

.contents {
  grid-row-start: 2 ;
  grid-column-start:2;

}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: auto;
}

.pages{
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

}
.right-panel{
  grid-row-start:2;
  grid-row-end:4;
  grid-column-start:3;
  grid-column-end: 4;
  background:green;

}
.left-panel{
  grid-row-start:2;
  grid-row-end:4;
  grid-column-start:1;
  grid-column-end: 2;
  background: purple;

}

.footer {
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start: 3;
  grid-row-end: 4;
  background: cyan;
}
.header {
  background: red;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
}
